.header {
    align-items: flex-start;
    background-color: var(--color-paper);
    box-shadow: var(--box-shadow-dark);
    flex-basis: 30%;
    height: 100svh;
    position: sticky;
    top: 0;
    z-index: 100;
}

.headerContent {
    color: var(--color-text-black);
    display: grid;
    height: 100%;
    place-content: center;
    padding: var(--space-loose);
    > * + * {
        margin-top: var(--space-open);
    }
}

.lead {
    font-size: var(--font-size-small-2);
}

/* @media (max-width: 1000px) {
    .header {
        flex-basis: auto;
        height: var(--header-height);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
} */