.button {
    background-color: var(--color-text-black);
    border: 1px solid var(--color-dkGy);
    border-radius: var(--border-radius-50perc);
    color: var(--color-white);
    display: grid;
    height: 36px;
    place-content: center;
    position: fixed;
    bottom: var(--space-loose);
    right: var(--space-loose);
    width: 36px;
}