.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding: var(--space-tight); */
}

@media (max-width: 1000px) {
    .list {
        padding: var(--space-loose);
    }
}

@media (max-width:768px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:559px) {
    .list {
        grid-template-columns: 1fr;
        row-gap: var(--space-tight);
    }
}
