.pageNav {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.hgroup {
    font-size: var(--font-size-regular);
    margin-block: var(--space-loose);
}

.title {
    margin-top: 0;
}

.lead {
    font-size: var(--font-size-small-2);
}

.meta {
    border-bottom: 1px solid var(--color-copy);
    display: block;
    font-size: var(--font-size-small-3);
    letter-spacing: .09em;
    margin-block: var(--space-loose);
    padding-bottom: var(--space-loose);

    time {
        display: block;
    }

    >*+* {
        margin-top: var(--space-tight);
    }
}

.metaTitle {
    color: var(--color-paper);
    display: inline-block;
    margin-right: 1em;
    transition: var(--transition-all);
}

.tech {
    display: flex;
    gap: .5rem;
    grid-column: 1 / -1;
}

.techList {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem .4rem;
}

.techItems {
    &::after {
        content: ", ";
    }

    &:last-child {
        &::after {
            display: none;
        }
    }
}

.projectButton {
    margin-top: var(--space-loose);
    width: fit-content;

    .projectLink {
        align-items: center;
        border: 1px solid currentColor;
        border-radius: 5px;
        column-gap: 10px;
        display: flex;
        font-size: var(--font-size-small-2);
        justify-content: center;
        letter-spacing: normal;
        padding: 10px 30px;
        transition: var(--transition-hover);

        svg {
            height: 14px;
            width: 14px;
        }

        &:hover,
        &:focus-visible {
            background-color: var(--color-paper);
            color: var(--color-text-black);
        }
    }
}

.body {
    font-size: var(--font-size-small-2);
    font-weight: 400;
    line-height: 2.2;

    h1 {
        font-weight: 500;
    }

    h2 {
        font-size: 1.6em;
        font-weight: 500;
        margin-top: var(--space-open);
    }

    h3 {
        font-size: 1.4em;
        font-weight: 500;
        margin-top: var(--space-loose);
    }

    p {
        margin-block: var(--space-tight);
    }

    ol,
    ul,
    menu {
        list-style: auto;
        padding-left: 2rem;
    }

    code {
        background-color: var(--color-dark);
        border-radius: 3px;
        padding: .2rem;
    }

    pre {
        background-color: var(--color-text-black);
        border: 1px solid var(--color-copy);
        border-radius: var(--border-radius-10px);
        font-size: var(--font-size-small-3);
        line-height: 1.4;
        overflow-x: auto;
        padding: var(--space-loose);

        code {
            background-color: inherit;
        }
    }

    figure {
        margin-block: var(--space-loose);
        max-width: 768px;
    }
}

@media (max-width: 559px) {
    .pageNav {
        flex-direction: column;
        gap: var(--space-loose);
    }
}