.image {
    filter: grayscale(100%);
    height: 300px;
    width: 300px;
}

.imageElem {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

.name {
    margin-block: var(--space-loose) var(--space-open);
}

.nameEng {
    font-size: var(--font-size-small-1);
    display: block;
    letter-spacing: normal;
}

.nameJpn {
    font-size: var(--font-size-small-1);
    display: block;
    margin-top: 1rem;
}

.text {
    font-size: var(--font-size-small-2);
    line-height: 2.2;
    margin: 1rem 0 0;
}

.sectionTitle {
    color: var(--color-border1);
    font-size: var(--font-size-regular);
    margin-bottom: .5rem;
}

.sectionList {
    display: flex;
    flex-wrap :wrap;
}

.sectionListItem {
    font-size: var(--font-size-small-2);
    letter-spacing: normal;
    margin-bottom: 5px;
    position: relative;
    &::after {
        content: "ãƒ»";
        display: inline-block;
        margin-inline: .5rem;
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
}

.inspirationList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.inspirationButton {
    border: 1px solid currentColor;
    border-radius: 8px;
    font-size: var(--font-size-small-2);
    letter-spacing: normal;
    color: var(--color-white);
    cursor: pointer;
    padding: 6px 16px;
}

.modal {
    border: none;
    border-radius: 9px;
    box-shadow: 0 10px 20px -5px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.innerModal {
    align-content: center;
    display: grid;
    justify-items: center;
    padding: var(--space-loose);
}

.modalTitle {
    border-bottom: 1px dashed currentColor;
    font-size: var(--font-size-small-2);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.modalText {
    font-size: var(--font-size-small-2);
    line-height: 2.2;
    margin-bottom: var(--space-loose);
}

@media (max-width: 768px) {
    .image {
        margin-inline: auto;
    }
    .modal {
        width: 70%;
    }
}

@media (max-width: 300px) {
    .image {
        height: auto;
        width: 100%;
    }
    .modal {
        width: 90%;
    }
}